.recipe-pane {
    display: flex;
}

.picture {
    width: 200px;
    border-radius: 72% 28% 42% 58% / 51% 70% 30% 49%;
    transition: border-radius 400ms ease-in-out;
}

.picture:hover {
    border-radius: 27% 73% 42% 58% / 74% 57% 43% 26%;
}
