.ingredient-pane {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-between;
    /* height: 35px; */
    padding: 5px;
    padding-top: 10px;
}
.ingredient-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.ingredient-pane:first-child {
    margin-top: 5px;
}

.ingredient-items {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;
}

.left-item {
    margin-right: 5px;
}
